body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.content-container {
    display: flex;
    justify-content: center; /* Центрирование видео */
    flex-wrap: wrap;
    gap: 10px; /* Расстояние между видео */
    padding: 15px;
    width: auto;
}

.video-description {
    margin-top: 10px; /* Отступ сверху для описания */
    text-align: center; /* Центрирование текста и элементов внутри .video */
    /* Добавьте здесь другие стили для описания, если нужно */
}

/* Обертка для видео */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* Пропорция 16:9 для альбомных видео */
    height: 0;
    overflow: hidden;
}

/* Адаптивное видео */
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Стили для портретных видео */
.port-video-wrapper {
    padding-bottom: 177.77%; /* Пропорция 9:16 для портретных видео */
}

.rounded-shadow-box {
    width: auto; /* Устанавливает ширину подложки */
    height: auto; /* Устанавливает высоту подложки */
    background-color: white; /* Цвет фона подложки */
    border-radius: 20px; /* Скругляет углы подложки */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Добавляет тень */
}

/* Переопределение пропорций для портретных видео на узких экранах */
@media (max-width: 600px) {
    .port-video-wrapper {
        padding-bottom: 200%; /* Измените пропорцию, если нужно */
    }
}
