body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    text-align: center; /* Центрирование видео */
}

.video {
    display: inline-block;
    width: 360px; /* Меньший масштаб для умещения на экран */
    margin: 10px;
    box-sizing: border-box;
}

.video iframe {
    width: 360px; /* Меньший масштаб ширины */
    height: 640px; /* Меньший масштаб высоты, сохраняя пропорции 1080x1920 */
}

@media screen and (max-width: 720px) {
    .video iframe {
        width: 180px; /* Еще меньше для мобильных устройств */
        height: 320px; /* Сохраняя пропорции */
    }
}
